version: "3.9"

services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  app:
    build:
      context: .
      dockerfile: project/Dockerfile
    env_file: .env
    depends_on:
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ./project:/app/project

  rqworker:
    build:
      context: .
      dockerfile: project/Dockerfile
    env_file: .env
    depends_on:
      - redis
    command: ["rq", "worker", "-u", "${REDIS_URL}", "${RQ_QUEUE}"]
    volumes:
      - ./project:/app/project
